@font-face{
    font-family: OpenSans-Bold;
    src: url('/mvp/fonts/OpenSans-Bold.ttf');
    /*url('Thonburi-Bold.eot'); /* IE */
}

@font-face{
    font-family: GoodDog;
    src: url('/mvp/fonts/GoodDog.otf');
    /*url('Thonburi-Bold.eot'); /* IE */
}

@font-face{
    font-family: Lobster;
    src: url('/mvp/fonts/Lobster_1.3.otf');
}

@font-face{
    font-family: Trench;
    src: url('/mvp/fonts/trench100free.otf');
}

h1 {
	font-family: Trench;
}
.navbar.headroom {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.headroom--pinned {
	transition: all .2s ease-in-out;
}

.navbar.headroom--unpinned {
	top: -100px;
}

.navbar.headroom--pinned {
	top: 0;
}

#sidebar-wrapper.headroom--unpinned {
	left: -5000px;
}

textarea {
	color: #000;
}
.glyphicon-chevron-up {
	cursor: pointer;
}

.glyphicon-chevron-down {
	cursor: pointer;
	/*color: #FF6508 !important;*/
}

.glyphicon-align-justify {
	color: #fff;
	background-color: #015657;
	font-size: 25px;
}

.glyphicon-wrench {
	color: #fff;
	background-color: #015657;
	font-size: 30px;
}

.draw-label{
	font-family:Trench;
	font-size:25px;
	font-weight:bold;
	vertical-align:middle;
	padding-left:5px;
}
		
.draw-drop{
	font-size:30px;
	vertical-align:middle;
}

.drop{
	margin-top:12px;
	font-size: 25px;
	vertical-align:middle;
}
		
.drop2{
	font-size:15px;
	color:#014546;
	vertical-align: -150%;
	transition: color 0.5s ease;
}
		
.drop2:hover{
	color:white;
}


/* ====================================================== */
#col-draw {
			padding-top: 0px !important;
		}
		
		.drawer {
			padding-bottom: 0px !important;
		}
		
		#drawer:focus, #drawer:active, #dropdownMenu1:focus, #dropdownMenu1:active {
			outline: 0px !important;
		}
		
		#btn-draw, #settings-glyph {
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			-o-border-radius: 0px;
			border-radius: 0px;
			border: 0px;
		}
		
		#btn-draw: active, #btn-draw: focus{
			outline: 0px !important;
		}

.pop{
			display:inline;
		}
		#drawer, #dropdownMenu1 {
		  background-color: #015657 !important;
		  background-repeat: repeat-x;
		  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#015657", endColorstr="#015657");
		  background-image: -khtml-gradient(linear, left top, left bottom, from(#015657), to(#015657));
		  background-image: -moz-linear-gradient(top, #015657, #015657);
		  background-image: -ms-linear-gradient(top, #015657, #015657);
		  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #015657), color-stop(100%, #015657));
		  background-image: -webkit-linear-gradient(top, #015657, #015657);
		  background-image: -o-linear-gradient(top, #015657, #015657);
		  background-image: linear-gradient(#015657, #015657);
		  border: 0px;
		  color: #fff !important;
		  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
		  -webkit-font-smoothing: antialiased;
		  transition: all 0.5s ease-in-out;
		}
		
		.popover{
			width:150%;
		}
		.popover-content{
			background-color:white;
			#color:#D8D8D8;
			font-size:12.5px;
		}
		.popover-content label{
			font-weight:bold;
			font-size:14.5;
		}
		
		.divider-title{
			margin-top:2px;
			margin-bottom:10px;
		}
		
/*=================================================================*/