.note-main-wrap{

}

.save-note {
	color: #0033EE !important;
	font-size: 14px;
	padding-top: 10px;
	position: absolute;
	bottom: 5px;
	left: 5px;
}

.save-note:hover {
	color: #EE0033 !important;
	cursor: pointer;
}

.note_dl {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.note_wrapper{
	box-shadow: 0px 0px 6px 1px #AFAFAF;
	margin: 20px;
	border-radius: 10px;
	background-color: #fff;
	padding: 10px;
	width: 80%;
	height: 195%;
	position: relative;
	word-wrap: break-word;
}

.note_content {
	padding-bottom: 15px;
}
.note_pic{
	min-height: 200px;
	max-height: 300px;
	min-width: 200px;
	max-width : 400px;
}

.note_file_wrap{
	border: #D8D8D8 1px solid;
	width: 30%;
}

.bx-wrapper ul li { 
	height: 250px; 
}

.note_title{
	color: #16a085;
	border-radius: 5px;
	font-size: 22.5px;
	padding-left: 5px;
	margin: 5px;
	/*background-color: #16a085 !important;*/
}

.note_title a {
	font-weight: bold;
	text-decoration: none;
	color: #16a085;
}