



#radio-label{
	font-size: 16px;
	color: #909090;
}

.register-form{
	position:relative;
	color:#909090;
	
	padding-top: 0px;	
	padding-bottom:30px;
	border : 5px #33CC00;
	background-color : #F0F0F0  ;
}

.register-form label{
	font-size: 20px;
	color:#909090 ;
	padding: 2px;
}

.register-form h1{
	background: #015657;
	padding:10px;
	color:white;
}


#register-form-main{
	padding-left:30px;
	padding-right:30px;
}
.register-form div{
	padding:5px 0;
	
}

.register-form span{
	display:block;	
	font-size: 0.875em;
	color: #363638;
	padding-bottom:5px;
	
	
}

.register-form input[type="text"],.register-form textarea{
		    padding:8px;
			display:block;
			width:100%; 
			border: none;
			outline:none;
			color:#363638;
			font-size:1.2em;		
			border: 1px solid rgba(192, 192, 192, 0.41);
			-webkit-appearance:none;
}

.register-form input[type="text"]:focus,.register-form textarea:focus{
	border:1px solid #F1DDBD;
}
.register-form input[type="radio"]{
	width     : 2em;	
	padding   : 8px;
	padding-left : 10px;
	font-size : 1em;
  
}

.register-form input[type="email"]{
	width     : 100%;
	padding   : 8px;
	padding-left : 10px;
	font-size : 1em;
	border: 1px solid rgba(192, 192, 192, 0.41);
}

.register-form input[type="date"]{
	width     : 100%;
	padding   : 8px;
	padding-left : 10px;
	font-size : 1em;
	border: 1px solid rgba(192, 192, 192, 0.41);
	-webkit-appearance:none;
}

.register-form input[type="number"]{
	width     : 100%; 
	padding   : 8px;
	font-size : 1em;
	border: 1px solid rgba(192, 192, 192, 0.41);
	-webkit-appearance:none;
}

.register-form input[type="password"]{
	width     : 100%; 
	padding   : 8px;
	font-size : 1em;
	border: 1px solid rgba(192, 192, 192, 0.41);
	-webkit-appearance:none;
}



.register-form select{
			padding:8px;			
			width:103%;
			
			color:#363638;
			
			border: 1px solid rgba(192, 192, 192, 0.41);
			-webkit-appearance:none;
  
}
.register-form select:focus{
	border:1px solid #F1DDBD;
}

.register-form textarea{
		resize:none;
		height:120px;		
}
.register-form input[type="submit"]
{
	background: #015657;
	font-size: 20px;
	padding: 8px;
	color: white;
	border-style: outset;
	/*border-color: #339900; */
	height: 50px;
	width: 100px;
	
}

.register-form input[type="submit"]:hover{
	background: #015657;
	border-color: #33CC00;
}

.register-form input[type="file"]{
	padding: 10px;
	border: 2px solid #33CC00;
	

}

/* ====================================================================================================== */
/*discuss-form style*/

.discuss-form{
	position:relative;
	color:#909090;
	/*width: 60%;*/	
	padding-top: 0px;	
	padding-bottom:30px;
	border : 5px #33CC00;
	background-color : #F0F0F0  ;
}
.textbox{
		height: 40px;
		width: 80%;
		padding-left:10%;
		padding-right: 10%;
}





/*=======================================================================================================*/



footer {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2%;
	background-color: #43a6cb;
	color: #FFFFFF;
	clear: left;
}
