#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: white !important;
}
.thispage{
	background-color : #00AA77 !important;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 0px;
    width: 0;
    height: 100%;
	padding-top: 0px !important;
    margin-left: 0px;
	margin-top: 0px;
    overflow-y: auto;
	background-color: #16a085;
	border-radius: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-wrapper-login{
    z-index: 1000;
    position: fixed;
    left: 0px;
	opacity:0.6;
    width: 0;
    height: 100%;
	padding-top: 0px !important;
    margin-left: 0px;
	margin-top: 0px;
    overflow-y: auto;
	background-color: #16a085;
	border-radius: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-wrapper-login:hover{
	opacity:1;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

/* Sidebar Styles */

.sidebar-notice{
	font-size: 22.5px;

	opacity: 0.8;
}

.sidebar-notice:hover{
	opacity: 1;
	background-color: #0099FF !important;
}
		
.sidebar-query{
	font-size: 22.5px;
	
	opacity: 0.8;
}

.sidebar-query:hover{
	opacity: 1;
	background-color: orange !important;
}
		
.sidebar-discussion{
	font-size: 22.5px;

	opacity: 0.8;
}

.sidebar-discussion:hover{
	opacity: 1;
	background-color: #33CC66 !important;
}

.sidebar-logout:hover{
	background-color: #FF5C5C !important;
	font-size: 23.5px !important;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
	font-size: 20.5px;
	font-weight: bold;
	font-family: Trench;
	transition: all 0.5s ease;
}

.sidebar-nav li a:hover {
    text-decoration: none;
	font-size: 22.5px;
    color: #fff;
	background-color : #00AA77;
	border-radius: 4px;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
	
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
		
    }

    #sidebar-wrapper {
        width: 250px;
		padding-top: 0px;
    }

    #page-content-wrapper {
        padding: 20px;
		padding-top: 0px !important;
        position: relative;
    }
	
}

@media(max-width:768px) {
	#post-wrap {
		padding-top: 40% !important;
	}
	.register-form {
		padding-top: 20% !important;
	}
}

/*==========================================================*/

.footnote	{
		color : #AAAAA9;
		font-size: 9.85px;
		word-wrap: break-word;	
		overflow: hidden;
}
