#wrapper {
	width: 100%;
	min-width: 740px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	color: #4d4d4d;
	
}

body {
	margin: 0px;
	color: #151515;
	font-family: sans-serif;
}

#top {
	overflow: hidden;
	background-color: #33CC66;
	padding: 0px;
}
#top h1 {
	color: white;
	text-align:center;
	font-size: 60px;
	padding:0px;
}


/*
/*#hero 
{
	padding: 50px;

}*/
/*
#mainnav ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	list-style-type: none;
}
#mainnav a {
	float: left;
	width: 25%;
	display: block;
	background-color:white;
	text-align: center;
	text-decoration: none;
	color: #33CC66;
	padding-top: 6px;
	font-size: 20px;
	padding-bottom: 6px;
}

#mainnav a:hover, #mainnav a:active, #mainnav a:focus{
	background-color: #FFCC00;
	text-decoration: none;
}

 #mainnav a.thispage {
	background-color: #43a6cb;
	text-decoration: none;
}
*/


#main {
	float: none;
	clear: left;
	color: #4d4d4d;
}

a {
	font-weight: bold;
	text-decoration: none;
}
a:link {
	color: #FF6600;
}
a:visited {
	color: #FF944C;

}

footer {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2%;
	background-color: #43a6cb;
	color: #FFFFFF;
	clear: left;
}
